# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.env
*.venv
*.lock

# Jupyter Notebooks
*.ipynb_checkpoints
*.ipynb

# Other
.env
.idea/
.vscode/
